/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.App {
    background-color: #5a6168;
    height: 100%;
    width: 100%;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

@media (min-width: 1100px) {
    .res-width {
        width: 40%;
    }
}

.input {
    padding: 0.5rem;
    line-height: 1.2em;
    /* margin: 0.5rem; */
    border-radius: 0.2rem;
    border: 1px solid #f1f5f8;
    background-color: #f1f5f8;
}

select {
    padding: 0.42rem;
    border-radius: 0.2rem;
    border: 1px solid #f1f5f8;
    background-color: #f1f5f8;
}

input::selection{
    background: #4492e0;
    color: #3d92d3;
}

.input_label {
    display: block;
    font-weight: 600;
    margin: 0.5rem;
}

.bigcheck {
    height: 15pt;
    width: 15pt;
}

.w200 {
    max-width: 250pt;
}

.w60 {
    width: 60pt;
}

.w100 {
    width: 100pt;
}

.minw100 {
    min-width: 100pt;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.coluflex {
    display: flex;
    flex-direction: column;
}

.rowflex {
    display: flex;
    flex-direction: row;
}

.gap {
    gap: 1rem;
}

.margin-left {
    margin-left: 2rem;
}

.margin-left1 {
    margin-left: 1rem;
}

.margin-tb2 {
    margin: 0.5rem 0;
}

.margin-tb1 {
    margin: 1.2rem 0;
}

.margin-tb {
    margin: 2rem 0;
}

.padding-lr {
    padding: 0 3vw;
}

.padding-tb {
    padding: 3vw 0;
}

.padding-3 {
    padding: 3vh 3vw;
    height:91vh;
}

.padding-table {
    padding: 15pt 0;
}

.padding-5 {
    padding: 5pt;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.justify-space {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.background {
    background-color: #5a6168;
}

.text-red {
    color: #fa453f;
}

.bright-text {
    color: #f1f5f8;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

/* .grid-item {
    
} */

.span2 {
    grid-column: span 2;
}

