/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.App {
    background-color: #5a6168;
    height: 100%;
    width: 100%;
}

html, body {
    background-color: #5a6168;
}

.page-container {
    min-height: 100vh;
    background-color: #5a6168;
    /* background-color: #4c5258; */
    /* background-color: #292e33; */
}

.white {
    background-color: #f1f5f8;
}

.post {
    max-width: 200pt;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.height-full {
    height: 85vh;
}

.height-100 {
    height: 100%;
}

.height-50 {
    height: 50%;
}

.h350 {
    height: 350pt;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}


.res-width-30,
.res-width-40,
.res-width-50,
.res-width-60,
.res-width-80 {
    width: 100%;
}

@media (min-width: 1100px) {
    .res-width-30 {
        width: 30%;
    }
    .res-width-40 {
        width: 40%;
    }
    .res-width-50 {
        width: 50%;
    }
    .res-width-60 {
        width: 60%;
    }
    .res-width-80 {
        width: 80%;
    }
}

.margin-auto-lr {
    margin: 0 auto;
}

.scrollable {
    overflow: auto; /* Enables scrolling */
    scrollbar-width: none; /* Firefox: Hides scrollbar */
    -ms-overflow-style: none; /* IE/Edge: Hides scrollbar */
  }
  
  .scrollable::-webkit-scrollbar {
    display: none; /* Chrome/Safari: Hides scrollbar */
  }

.input {
    padding: 0.5rem;
    line-height: 1.2em;
    /* margin: 0.5rem; */
    border-radius: 0.2rem;
    border: 1px solid #f1f5f8;
    background-color: #f1f5f8;
}

select {
    padding: 0.42rem;
    border-radius: 0.2rem;
    border: 1px solid #f1f5f8;
    background-color: #f1f5f8;
}

input::selection{
    background: #4492e0;
    color: #3d92d3;
}

.input_label {
    display: block;
    font-weight: 600;
    margin: 0.5rem;
}

.link_text {
    font-size: 1.2rem;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    color: #4492e0;
}

.bigcheck {
    height: 15pt;
    width: 15pt;
}

p {
    margin: 0 !important;
}

table {
    border-collapse: separate !important;
    border-spacing: 3pt !important;
}

.abs {
    position: absolute;
}

.width-hp {
    max-width: 1600px;
}

.mh600 {
    max-height: 600pt;
}

.mh450 {
    max-height: 450pt;
}

.mh300 {
    max-height: 300pt;
}

.mw900 {
    max-width: 900pt;
}

.mw800 {
    max-width: 800pt;
}

.mw700 {
    max-width: 700pt;
}

.mw500 {
    max-width: 500pt;
}

.mw200 {
    max-width: 250pt;
}

.mw100 {
    max-width: 100pt;
}

.h20 {
    height: 20pt;
}

.h40 {
    height: 40pt;
}

.h200 {
    height: 150pt;
}

.w40 {
    width: 40pt;
}

.w50 {
    width: 50pt;
}

.w60 {
    width: 60pt;
}

.w70 {
    width: 70pt;
}

.w80 {
    width: 80pt;
}

.w100 {
    width: 100pt;
}

.w150 {
    width: 150pt;
}

.minw100 {
    min-width: 100pt;
}

.minh200 {
    min-height: 200pt;
}

.minh300 {
    min-height: 300pt;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.coluflex {
    display: flex;
    flex-direction: column;
}

.rowflex {
    display: flex;
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.fit-content {
    width: fit-content;
}

.gap {
    gap: 1rem;
}

.gap-s {
    gap: .5rem;
}

.gap-sc {
    gap: .5rem;
}

.pad-1r {
    padding: 1.5rem;
}

@media (max-width: 900px) {
    .gap {
        gap: 0.5rem;
    }
    .pad-1r {
        padding: 1rem;
    }
    .gap-s {
        gap: .2rem;
    }
}

@media (min-width: 600px) {
    .res-hide {
        display: block !important;
    }
    .res-show {
        display: none !important;
    }
}

.res-show {
    display: block;
}

.res-hide {
    display: none;
}

.margin-none {
    margin: 0;
}

.margin-left {
    margin-left: 2rem;
}

.margin-left1 {
    margin-left: 1rem;
}

.margin-right1 {
    margin-right: 1rem;
}

.margin-tb2 {
    margin: 0.5rem 0;
}

.margin-tb1 {
    margin: 1.2rem 0;
}

.margin-tb {
    margin: 2rem 0;
}

.padding-lr2 {
    padding: 0 2vw;
}

.padding-lr {
    padding: 0 3vw;
}

.padding-tb {
    padding: 3vw 0;
}

.padding-tb2 {
    padding: 2vw 0;
}

.padding-3 {
    padding: 3vh 3vw;
}

.height {
    height:91vh;
}

.padding-table {
    padding: 15pt 0;
}

.padding-5 {
    padding: 5pt;
}

.padding-20 {
    padding: 20pt;
}

.padding-03 {
    padding: 0 3pt;
}

.mar-btm30 {
    margin-bottom: 30pt;
}

.border-radius {
    border-radius: 0.4rem;
}

.circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}

.flex-column {
    flex-direction: column;
}

.text-centers {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.align-between {
    align-items: space-between;
}

.align-selfcenter {
    align-self: center;
}

.background {
    background-color: #5a6168;
}

.black-back {
    background-color: #1c1c1c;
}

.black-back2 {
    background-color: #2c2c2c;
}

.white-back {
    background-color: rgb(245, 245, 245);
}

.white-back2 {
    background-color: rgba(245, 245, 245, 0.911);
    /* background-color: '#f8f9fa'; */
}

.blue-text {
    color: #2963ab;
}

.green-text {
    color: #21992b;
}

.red-text {
    color: #fa453f;
}

.bright-text {
    color: #f1f5f8;
    text-decoration: none;
}

.dark-text {
    color: #1e1f20
}

.dark-back {
    /* background-color: #212224 */
    background-color: #292a2b
}   

.no-decor {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

.glow-hover {
    transition: box-shadow 0.3s ease-in-out;
}

.glow-hover:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Adjust glow color and intensity */
}

.shadow-hover:hover {
    opacity: 0.8;
}

.grid-b {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    gap: 1rem;
}

.grid-b-item {
    padding: 10pt;
    border-radius: 0.4rem;
    min-width: 100pt;
    min-height: 100pt;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 1200px) {
    .grid-2 {
        grid-template-columns: 1fr 1fr;
    }
    .grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .span-2c {
        grid-column: span 2;
    }
}

.span-2r {
    grid-row: span 2;
}

/* .grid-item {
    
} */

.span2 {
    grid-column: span 2;
}

.hidden {
    display: none;
}

.btn-danger {
    color: #fff;
    background-color: #e3342f;
    border-color: #e3342f;
  }

.btn-danger:hover {
    color: #fff;
    background-color: #d0211c;
    border-color: #c51f1a;
}




/* DYNAMIC TABLE CLASSES */

/* Ensure the table takes the full width of its parent */
.dynamic-table {
    width: 100%;
    border-spacing: 0;
    table-layout: auto; /* Allows columns to adjust based on content and CSS */
}
  
  /* Style for table headers and cells */
.dynamic-table th,
.dynamic-table td {
    /* padding: 5px; */
    /* text-align: center; */
}

  /* Ensure inputs and selects take full width of their cells */
.dynamic-table .input {
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}
  
/* Optional: Style for the button column */
.dynamic-table th:last-child,
.dynamic-table td:last-child {
    width: 40px; /* Fixed width for the add/remove button column */
}

.header-long {
    display: inline;
}
  
.header-short {
    display: none;
}

  /* Responsive design for smaller screens */
@media (max-width: 768px) {
    .th-mileage,
    .td-mileage {
      width: 70px !important; /* Smaller width for small screens */
    }
    .th-quantity,
    .td-quantity {
        width: 90px !important;
    }
    .th-price,
    .td-price {
        width: 90px !important;
    }
    .header-long {
        display: none !important;
    }
    .header-short {
        display: inline !important;
    }
}
  


/* TRIPS TABLE */
/* Ensure select elements in origin and destination columns fill remaining space */
.th-origin,
.td-origin,
.th-destination,
.td-destination {
    width: auto; /* Allow these columns to take remaining space */
}

/* Mileage column (Km) */
.th-mileage,
.td-mileage {
    width: 110px; /* Default width for large screens */
}
    