nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem calc(5pt + 3vw);
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
  }
  
  nav .title {
    font-size: 1.3rem;
    color: #333;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  nav ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  nav ul li {
    padding: 0 1rem;
    list-style: none;
  }
  
  nav ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 calc(0.5rem * 1vw);
    border-radius: 0.5rem;
  }
  
  nav ul li a:not(.active):hover {
    background-color: #f1f5f8;
  }
  
  .active {
    background-color: #f1f5f8;
  }
  
  nav .menu {
    display: none;
    position: absolute;
    top: 1rem; /* Fixed comma syntax to dot */
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.24rem;
    height: 2rem;
    cursor: pointer; /* Indicate clickable */
  }
  
  nav .menu span {
    width: 100%;
    height: 0.4rem;
    background-color: #424242;
    border-radius: 0.25rem;
    transition: all 0.3s ease; /* Optional: for animation */
  }
  
  /* Show hamburger menu on small screens */
  @media (max-width: 600px) {
    nav .menu {
      display: flex; /* Uncommented to show hamburger */
    }
  
    nav {
      flex-direction: column;
      align-items: start;
    }
  
    nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
    }
  
    nav ul.open {
      display: flex; /* Show ul when open class is applied */
    }
  
    nav ul li {
      width: 100%;
      text-align: start;
    }
  
    nav ul li a {
      margin: 0.2rem 0.5rem;
    }
  }